/* Colors */
@black-00: #000000;
@black-33: #333333;

@blue-00-hover: #006c9e;
@blue-008: #0086b9;
@blue-00: #00385d;
@blue-00b: #00b3ff;
@blue-02: #022942;
@blue-04: #042e4d;
@blue-1b: #1ba4d6;
@blue-27: #27a3d4;
@blue-5b: #5bc5f1;
@blue-7f: #7f9bae;
@blue-87: #87B9D2;
@blue-94: #94d9f6;
@blue-f7: #f7fbfd;

@gray-4c: #4c4c4c;
@gray-59: #595959;
@gray-66: #666;
@gray-70: #707070;
@gray-80: #808080;
@gray-97: #979797;
@gray-be: #bebebe;
@gray-db: #dbdcdd;
@gray-e8: #e8e8e8;
@gray-eb: #ebf2f7;
@gray-f5: #f5f5f5;
@gray-fa: #fafafa;
@gray-fc: #fcfcfc;

@green-78: #78b500;
@green-a8: #a8ce38;
@green-8e: #8ed51a;
@green-95: #95dc07;

@pink-ed: #ed188e;
@pink-ff: #ffebeb;
@pink-fe: #fef3f2;

@purple-85: #85239b;
@purple-9f: #9f3bb9;

@red-c6: #c61e0b;
@red-eb: #eb1600;
@red-ed: #ed1b09;
@red-ff: #ff0000;

@yellow-de: #decf56;
@yellow-ee: #eea800;
@yellow-fc: #fcb713;

@white-ff: #ffffff;